.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.alive {
  background-color: greenyellow;
}

.dead {
  background-color: red;
}

.box {
  width: 50px;
  margin: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputs div {
  margin: 5px;
}

* {
  font-family: "Roboto", sans-serif;
}
